doctype html
html
  head
    meta(charset='utf-8')
    link(rel='shortcut icon', href='https://slack.global.ssl.fastly.net/272a/img/icons/favicon-32.png')
    // Loading Bootstrap
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    // Loading Flat-UI
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.css')
    // Loading Personal style
    link(rel='stylesheet', href='/css/style.css')
    // Loading Font-Awesome glyphicon
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(href='https://fonts.googleapis.com/css?family=Lobster|Pacifico&subset=latin-ext', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lobster', rel='stylesheet')
    title Dev Of Future
  style.
    body
    {
    padding-top: 100px;
    background: url("http://loading.io/assets/img/bk-icon.jpg") repeat-x;
    color: black ;
    font-family:Pacifico , Lobster;
    }
    .msg{
    font-family: verdana;
    }
  body
    .row
      .col-lg-6.col-lg-offset-3
        h1(style='text-decoration: underline')  Dev Of Future 
  if isFailed 
    .row
      .col-lg-6.col-lg-offset-3
        .alert.alert-danger
          i.fa.fa-exclamation-triangle.fa-3x
          |  !{message}
  else
    .row
      .col-lg-6.col-lg-offset-3
        .alert.alert-success
          i.fa.fa-check.fa-3x
          |  !{message}
